.projectData {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 2rem;
  font-size: larger;
  color: #efefef;
  transition: all 0.1s ease;
  .description {
    text-align: center;
  }
}

.high {
  width: 100%;
  justify-content: space-evenly;
  height: 20rem;
  margin-bottom: 10rem;
  .image {
    position: relative;
    width: 60%;
  }
  .projectData {
    margin-right: 6rem;
    width: 40%;
    h3 {
      margin-bottom: 1rem;
    }
    .description {
      position: relative;
      z-index: 1;
      width: 130%;
      background: #140122;
      border-radius: 1rem;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.medium {
  width: 48%;
  height: 20rem;
  margin-bottom: 2rem;
  .image {
    width: 100%;
  }
  .projectData {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    align-items: center;
    background: rgba($color: #140122, $alpha: 0.95);
    cursor: default;
    &:hover {
      opacity: 1;
    }
  }
  .description {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 480px) {
  .projectData {
    font-size: large;
  }
  .high {
    flex-direction: column;
    height: 100%;
    margin-bottom: 4rem;
    .image,
    .projectData {
      width: 100%;
    }
    .image {
      width: 100%;
      height: 12rem;
    }
    .projectData {
      align-items: center;
      padding: 1rem 0;
      .description {
        width: 100%;
        border-radius: 3px;
      }
    }
  }

  .medium {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    .image {
      position: relative;
      height: 6rem;
      width: 33%;
      object-fit: cover;
    }
    .projectData {
      position: relative;
      width: 66%;
      opacity: 1;
      padding: 0.5rem;
      background-color: transparent;
      h3 {
        text-align: center;
        margin-bottom: 1rem;
      }
      a {
        font-size: larger;
      }
    }
    .description {
      display: none;
    }
  }
}
