:root {
  --primary: #fc466b;
  --secondary: #3f5efb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c0231;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.gradient {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;
}
